body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: #4d5156;
  margin: 10px;
}
select,
button,
input[type=submit],
input[type=button] {
  height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
select,
button,
textarea,
input {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 5px;
  margin-top: 10px;
}
textarea,
input[type=text],
input[type=number] {
  padding: 5px;
  outline: none;
}
textarea:focus,
input[type=text]:focus,
input[type=number]:focus {
  background-color: #e5f8ff;
}
a,
a:visited {
  color: #07c;
}
textarea:disabled {
  opacity: 0.4;
}
input[type=button]:disabled {
  opacity: 0.5;
}

.table {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
}
